<html dir="rtl" lang="{{lang}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  
<body>

<h1>חלוקה הוגנת</h1>
{% if error %}
<p class="error">{{error}}</p>
{% endif %}

התחילו חלוקה הוגנת בשני צעדים פשוטים:
<ol>
<li>צרו גליון אלקטרוני חדש של גוגל (Google Spreadsheet) ושתפו אותו עם: <br/><b>test-159@spreadsheet-example-erelsgl.iam.gserviceaccount.com</b></li>
<li>הכניסו את הקישור (URL) של הגליון לכאן, ובחרו אלגוריתם:
  <form method="GET" action="../2/{{lang}}" style="margin:1em">
    <div>
      <input name="url" size='100'/> 
    </div>
    <div>
      <select name="algorithm_name">
        {% for algorithm_name in algorithm_names %}
            <option value="{{algorithm_name}}">{{algorithm_name}}</option>"
        {% endfor %}
      </select>  
    </div>
    <input type='submit' name="url" value="שליחה" />
  </form>
</li>
</ol>
</body>
</html>